<h1>Suas vendas</h1>

<table>
	<tr>
		<th>Nome do Perfume</th>
		<th>Produto foi entregue</th>
		<th>Cliente pagou</th>
	</tr>

	<% @sales.each do |sale| %>
		<tr>
			<td><%= sale.perfume_name %></td>
			<td><%= sale.delivered_product %></td>
			<td><%= sale.money_received %></td>
			<td><%= link_to 'Show', sale_path(sale) %></td>
		</tr>
	<% end %>
</table>
<br>
<br>
<%= link_to 'Cadastrar nova conta', new_sale_path %>