<div class="container">
	<div class="panel panel-primary content-box">
		
		<div class="panel-heading">
			<h1 class="panel-title"><%= @sale.product_name %></h1>
		</div>

		<div class="panel-body">
			<div class="content">		
				<p>
					<strong>Produto</strong>
					<%= @sale.product_name %>
				</p>

				<p>
					<strong>Produto entregue ao cliente:</strong>
					<%= @sale.delivered_product? %>
				</p>

				<p>
					<strong>Produto entregue ao cliente:</strong>
					<%= @sale.money_received? %>
				</p>
			</div>

			<%= link_to 'Cadastrar nova venda', new_sale_path, :class => "btn btn-default btn-primary" %>
			<%= link_to 'Voltar para Controle de Vendas', sales_path, :class => "btn btn-default" %>
		</div>

	</div>
</div>